<div class="contact-info pt-20 pb-20 pl-10">
    <div class="mb-30 font-26 mt-30 text-orange section-header left-side-heading-design d-flex justify-content-between align-items-center ">
        <h2 class="font-20">contact me</h2>
        <!-- <button  type="button" *ngIf="isLoginUser" class="btn btn-small edit-btn" data-toggle="modal" data-target="#contactMeModal">Edit</button> -->
        <!-- <button  type="button" class="btn btn-small edit-btn" data-toggle="modal" data-target="#contactMeModal">Edit</button> -->
        <button *ngIf="isLoginUser" type="button" class="btn btn-small edit-btn" (click)="openModal()">Edit</button>
        <!-- <button  type="button"  class="btn btn-small edit-btn" (click)="opendemoModal()">demo modal</button> -->
    </div>

    <ul  *ngFor="let info of InfoData">
        <li class='mb-10'>
            <i class=' fa fa-mobile icon-orange 2 font-14 line-height-30 icon-h-30 icon-w-30 bg-white text-center circle'></i>  {{info.phoneNumbeer}}</li>
        <li class='mb-10'>
            <i class='fa fa-comments-o icon-orange mr-2 font-14 line-height-30 icon-h-30 icon-w-30 bg-white text-center circle'></i>{{info.email}}</li>
        <li class='mb-10'>
            <i class='fa fa-map-marker icon-orange mr-2 font-14 line-height-30 icon-h-30 icon-w-30 bg-white text-center  circle'></i> {{info.address}}</li>
        <!-- <li class='mb-10'>
            <i class='fa fa-facebook icon-orange mr-5 font-14 icon-h-25 icon-w-20 bg-white text-center pt-5 circle'></i> www.facebook.com</li> -->
        <li class='mb-10'>
            <i class='fa fa-paperclip font-14 icon-orange mr-2 line-height-30  icon-h-30 icon-w-30 bg-white text-center circle'></i> {{info.socialLink}} </li>
    </ul>
</div>




<!-- // from modal -->
 
  <!-- <div class="modal fade" id="contactMeModal" tabindex="-1" role="dialog" aria-labelledby="contactMeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create/update your info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            
            
            
            <form [formGroup]="contactMeFrom" (submit)="contactMeSubmit(contactMeFrom.value)">
                <div class="form-group">
                  <label>name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>

                <div class="form-group">
                  <label>PhoneNumber</label>
                  <input type="number" class="form-control" formControlName="phoneNumbeer">
                </div>

                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control" formControlName="designation">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control"  cols="5" rows="3" formControlName="description"></textarea>
                </div>               
               
                <div class="form-group">
                    <label>Address</label>
                    <textarea type="text" class="form-control"  cols="5" rows="3" formControlName="address"></textarea>
                </div>
                
                <div class="form-group">
                  <label>SocialLink</label>
                  <input type="text" class="form-control" formControlName="socialLink">
                </div>
              </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancle</button>
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </div>
    </div>
  </div> -->




<!-- // modal -->

<modal #contactModal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Create/update your info</h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="contactMeFrom" (submit)="contactMeSubmit(contactMeFrom.value)">
      <div class="form-group">
        <label>name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email">
      </div>

      <div class="form-group">
        <label>PhoneNumber</label>
        <input type="number" class="form-control" formControlName="phoneNumbeer">
      </div>

      <div class="form-group">
          <label>Designation</label>
          <input type="text" class="form-control" formControlName="designation">
      </div>

      <div class="form-group">
          <label>Description</label>
          <textarea type="text" class="form-control"  cols="5" rows="3" formControlName="description"></textarea>
      </div>               
     
      <div class="form-group">
          <label>Address</label>
          <textarea type="text" class="form-control"  cols="5" rows="3" formControlName="address"></textarea>
      </div>
      
      <div class="form-group">
        <label>SocialLink</label>
        <input type="text" class="form-control" formControlName="socialLink">
      </div>
      
      
      <button type="button" class="btn btn-secondary" (click)="closeModal()">cancle</button>
      <button type="submit" class="btn btn-primary ml-2">submit</button>

    </form>
  </div>

  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">cancle</button>
    <button type="submit" class="btn btn-primary">submit</button>
  </div> -->


</modal>
 





