 <div class="profile-pic text-center">
    <img class='' src="../../../assets/images/1.jpg" alt="image">
    <h1 class='font-34 mt-20'>shamim reza</h1>
    <span>Software Engineer</span>
    <div>
      <button class="btn btn-primary" *ngIf="isToken">Edit Section</button>
    </div>
 </div> 