.profile-pic{
    img{
        width: 200px;
        margin-top: 50px;
        border: 3px solid #fff;
    }
    h1{
        color: #757575;
    }
    span{
        font-size: 17px;
        color: #757575
    }
}