<div class="working-experience">
    <!-- <h2 class="mb-30 font-26 mt-40 text-orange right-side-heading-design">work experience</h2> -->
    <div class="mb-30 font-26 mt-40 text-orange section-header  right-side-heading-design d-flex justify-content-between align-items-center ">
        <h2 class="font-20 text-orange">work experience</h2>
        <button *ngIf="isLoginUser" type="button" class="btn btn-small edit-btn" (click)="openWorkExperienceModal()">Add</button>
    </div>


    <div class="experience mb-30"  *ngFor="let experience of workingExperiences">
        <!-- <div class="date flot-lf width-responsive-20">
        
        </div> -->
        <div class="position">
            <!-- <p></p> -->
            <h5 class="mb-10"> <span class="working-period badge badge-pill badge-primary">
              {{ dateTimeService.dateFormat(experience.startDate)}} to  {{experience.continuing ? 'Continue' : dateTimeService.dateFormat(experience.endDate)}}</span> {{experience.companyName}}</h5>
            

            <p class="d-block">{{experience.designation}}</p>
            <p>
                {{experience.responsibilities}}
            </p>
            <button *ngIf="isLoginUser" type="button" class="btn btn-small edit-btn" (click)="openEditWorkExperienceModal(experience)">Edit</button>

        </div>
    </div>
</div>


<!-- <div class="experience mb-30 height-75">
    <div class="date flot-lf width-responsive-20">
        <p>23-12-2013</p>   
       
    </div>
    <div class="position float-rt width-responsive-80 pl-20 ">
        <h5 class="mb-10">company name</h5>
        <span class="d-block"><small>Designation</small></span>
        <p>
            Responsibilities: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut accumsan mi. Vestibulum sagittis
        </p>
    </div>
</div>  -->

<modal #workExperienceModal>
    
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create/update your skil</h5>
        <button type="button" class="close" (click)="closeWorkExperienceModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
        <form [formGroup]="workExperienceForm" (submit)="onworkExperienceFormSubmit(workExperienceForm.value)">
          <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control" formControlName="companyName">
          </div>

          <div class="form-group">
            <label>Designation</label>
            <input type="text" class="form-control" formControlName="designation">
          </div>

          <div class="form-group">
            <label>Responsibilities</label>
            <textarea type="text" class="form-control" formControlName="responsibilities"></textarea>
          </div>

          <div class="form-group">
            <label>Start Date (mm/dd/yy)</label>
            <input type="date" class="form-control" formControlName="startDate">
          </div>

          <div class="form-check mb-10">
            <input type="checkbox" class="form-check-input" (click)="onContinueCheckBoxClick($event)" id="continue" formControlName="continuing">
            <label class="form-check-label" for="continue">Continuing</label>
          </div>

          
          
    
          <div class="form-group" *ngIf="!isCountinueWork">
              <label>End Date (mm/dd/yy)</label>
              <input type="date" class="form-control" formControlName="endDate">
          </div>   
         
          
          <button type="button" class="btn btn-secondary" (click)="closeWorkExperienceModal()">cancle</button>
          <button type="submit" class="btn btn-primary ml-2">submit</button>
    
        </form>
      </div>
    

</modal>
 