


<div #modal  class="modal fade modal-background" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" [@modalAnimation]="isopenModal ? 'open' : 'close' ">

        <!-- <ng-container select=".modal-header">  -->
          <!-- <div class="modal-header"> -->
            <ng-content select=".modal-header"></ng-content>
          <!-- </div> -->
        <!-- </ng-container> -->
        
        


            <ng-content select=".modal-body"></ng-content>
           

            <ng-content select=".modal-footer"></ng-content>
        
      </div>
    </div>
  </div>
