.modal-background:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000080;
    top: 0;
    left: 0;
    z-index: -1;
}
.modal-dialog-centered{
    max-width: initial;
    width: 700px;
}


