<!-- <h2 class="mb-30 font-26 mt-40 text-orange right-side-heading-design">education</h2> -->

<div class="mb-30 font-26 mt-40 text-orange section-header  right-side-heading-design d-flex justify-content-between align-items-center ">
    <h2 class="font-20 text-orange">education</h2>
    <button *ngIf="isLoginUser"  type="button" class="btn btn-small edit-btn" (click)="openEducationModal()">Add</button>
</div>
            <!-- <div class="education mb-30 height-75" *ngFor="let edu of educations">
                <div class="education-for pl-20 ">
                    <h5>{{edu.nameOfDegree}} - {{edu.passingYear}}</h5>
                    <p>

                       {{edu.nameOfInstitute}}
                    </p>
                </div>
            </div> -->



            <div class="education mb-30 ">
                <ul class="time-line-sessions">
                    <li class="time-line-1"  *ngFor="let edu of educations">
                        <div class="education-for pl-20 ">
                            <h5>{{edu.nameOfDegree}} - {{edu.passingYear}}</h5>
                            <p>        
                            {{edu.nameOfInstitute}}
                            </p>
                        </div>
                        <button *ngIf="isLoginUser" type="button" class="btn btn-small edit-btn" (click)="onEditEducation(edu)">Edit</button>
                    </li> 
                </ul>
            </div>
 




            
<!-- modal -->
<modal #educationModal> 
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create/update your skil</h5>
        <button type="button" class="close" (click)="closeEducationModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
        <form [formGroup]="educationFrom" (submit)="onEducationFormSubmit(educationFrom.value)">
          <div class="form-group">
            <label>Name of Degree</label>
            <input type="text" class="form-control" formControlName="nameOfDegree">
          </div>
    
          <div class="form-group">
              <label>Name Of Institute</label>
              <input type="text" class="form-control" formControlName="nameOfInstitute">
          </div>   

          <div class="form-group">
            <label>Passing Year</label>
            <input type="number" class="form-control" formControlName="passingYear">
        </div>  
         
          
          <button type="button" class="btn btn-secondary" (click)="closeEducationModal()">cancle</button>
          <button type="submit" class="btn btn-primary ml-2">submit</button>
    
        </form>
      </div>   
</modal>
           