 <!-- skil -->

<div class="mb-30 font-26 mt-40 text-orange section-header  right-side-heading-design d-flex justify-content-between align-items-center ">
    <h2 class="font-20 text-orange">skils</h2>
    <button *ngIf="isLoginUser" type="button" class="btn btn-small edit-btn" (click)="openSkilModal()">Add</button>
</div>

<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-4 skil mb-30" *ngFor="let skil of skilsData">

    <circle-progress
    [percent]="skil.confidentLavel"
    [maxPercent]= 1000
    [radius] = 50
     
    
    [outerStrokeWidth]=2
    [outerStrokeColor]="'#ffffff'"
    
    [outerStrokeGradientStopColor]="'#ffffff'"
 
    [innerStrokeWidth]=0
    [title]= "skil.skilName"
    [titleColor]="'#ffffff'"
    [titleFontSize]=17
    [animateTitle]=false
    [animationDuration]=1000
    [showUnits]=false
    [showBackground]=true
    [startFromZero]=false
    [lazy]=false
    
    [showSubtitle]=true
    [clockwise]=true
    [subtitle]="skil.confidentLavel + '%'"
    [subtitleFontSize]=15
     [backgroundColor]="'#263238'"

     [renderOnClick]=false
    
    ></circle-progress>


     <!-- <div class="skil-name flot-lf width-responsive-20">
         <p>{{skil.skilName}}</p>
     </div>
     <div class="skil-for float-rt width-responsive-80 pl-20 ">
         <div class="progress">
             <div class="progress-bar progress-bar-striped progress-bar-animated bg-success " role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': skil.confidentLavel + '%'}">
                {{skil.confidentLavel}}%
             </div>
         </div>
     </div> -->

     <button *ngIf="isLoginUser" type="button" class="btn btn-small edit-btn" (click)="onEditSkil(skil)">Edit</button>


 </div>
</div>

<!-- 
 <circle-progress
  [percent]="85"
  [maxPercent]=100
  [radius]="70"
  [outerStrokeWidth]="4" 
  [outerStrokeColor]="'#78C000'" 
  [animation]="true"
  [animationDuration]="300"

  [renderOnClick]=false

  [showBackground]=true
  [backgroundColor]="'yellow'"
  [showSubtitle]=true
  [showUnits]=false
  [title]="'html'"
 
></circle-progress> -->



<!-- <circle-progress
[percent]="85"
[maxPercent]=40
[radius] = 60
[space]=-10
[outerStrokeGradient]=true
[outerStrokeWidth]=10
[outerStrokeColor]="'#4882c2'"

[outerStrokeGradientStopColor]="'#53a9ff'"
[innerStrokeColor]="'#e7e8ea'"
[innerStrokeWidth]=10
[title]= "'UI'"
[animateTitle]=false
[animationDuration]=1000
[showUnits]=false
[showBackground]=false
[startFromZero]=false
[lazy]=true

[showSubtitle]=true
[clockwise]=false

></circle-progress> -->
   


<!-- modal -->
<modal #skilModal> 
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create/update your skil</h5>
        <button type="button" class="close" (click)="closeSkilModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
        <form [formGroup]="skilFrom" (submit)="onSkilFormSubmit(skilFrom.value)">
          <div class="form-group">
            <label>Skil</label>
            <input type="text" class="form-control" formControlName="skilName">
          </div>
    
          <div class="form-group">
              <label>Confident Lavel</label>
              <input type="number" class="form-control" formControlName="confidentLavel">
          </div>   
         
          
          <button type="button" class="btn btn-secondary" (click)="closeSkilModal()">cancle</button>
          <button type="submit" class="btn btn-primary ml-2">submit</button>
    
        </form>
      </div>   
</modal>