<div class="row " *ngFor="let info of InfoData">
    <!-- <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12  ">
        <div class="contact-info height-350 pt-20 pb-20 pl-10">
            <h2 class="mb-30 font-26 mt-30">contact me</h2>

            <ul>
                <li class='mb-10'>
                    <i class=' fa fa-mobile icon-orange 2 font-14 line-height-30 icon-h-30 icon-w-30 bg-white text-center circle'></i>  {{info.phoneNumbeer}}</li>
                <li class='mb-10'>
                    <i class='fa fa-comments-o icon-orange mr-2 font-14 line-height-30 icon-h-30 icon-w-30 bg-white text-center circle'></i>{{info.email}}</li>
                <li class='mb-10'>
                    <i class='fa fa-map-marker icon-orange mr-2 font-14 line-height-30 icon-h-30 icon-w-30 bg-white text-center  circle'></i> {{info.address}}</li>
               
                <li class='mb-10'>
                    <i class='fa fa-paperclip font-14 icon-orange mr-2 line-height-30  icon-h-30 icon-w-30 bg-white text-center circle'></i> {{info.socialLink}} </li>
            </ul>
        </div>
    </div> -->


    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="about-me pt-20">
            <h2 class="mb-30 font-26 mt-30 text-orange right-side-heading-design">about</h2>
            <p>
                {{info.description}} 

            </p>
        </div>

    </div>
</div>