/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";  

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');/*header*/

@import url("./assets/css/timeline.scss");








body{
    
}
ul,li{list-style: none; padding: 0;}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;    
}
p{
    margin: 0;
}





/* +++++++++++ common css +++++++++++ */



/*font size*/
.font-12{font-size: 12px}
.font-14{font-size: 14px}
.font-16{font-size: 16px}
.font-18{font-size: 18px}
.font-20{font-size: 20px}
.font-22{font-size: 22px}
.font-24{font-size: 24px}
.font-26{font-size: 26px}
.font-28{font-size: 28px}
.font-30{font-size: 30px}
.font-35{font-size: 35px}
/*font bold*/
.font-strong{font-weight: 700;}



/* font color*/
/* .text-white{color: #ffffff} */
.text-white{color: #000 !important}
.text-orange{color: #8bc34a}
/* .text-ash{color: #d2d2d2} */
.text-ash{color: #000}

/* 000
/*background color*/
/* .bg-black{background: #202123} */
.bg-black{background: #000}
.bg-light-red{background: rgba(4, 42, 83, 0.8784313725490196)}
.bg-ash{background: #8bc34a}
.bg-white{background: #ffffff}
.bg-light-pest{background: #fff;}


/*icon color*/
.icon-orange{color: #E6433C}
.icon-h-30{height: 30px;}
.icon-w-30{width: 30px;}

/*padding*/
.pt-5{padding-top: 5px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-35{padding-top: 35px;}
.pt-40{padding-top: 40px;}


.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-25{padding-left: 25px;}
.pl-30{padding-left: 30px;}
.pl-35{padding-left: 35px;}
.pl-40{padding-left: 40px;}


.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pr-25{padding-right: 25px;}
.pr-30{padding-right: 30px;}
.pr-35{padding-right: 35px;}
.pr-40{padding-right: 40px;}


.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-25{padding-bottom: 25px;}
.pb-30{padding-bottom: 30px;}
.pb-35{padding-bottom: 35px;}
.pb-40{padding-bottom: 40px;}


.padding-5{padding: 5px}
.padding-10{padding: 10px}
.padding-15{padding: 15px}
.padding-20{padding: 20px}



 


/*margin*/

.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mt-40{margin-top: 40px;}

.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.ml-25{margin-left: 25px;}
.ml-30{margin-left: 30px;}
.ml-35{margin-left: 35px;}
.ml-40{margin-left: 40px;}


.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mr-25{margin-right: 25px;}
.mr-30{margin-right: 30px;}
.mr-35{margin-right: 35px;}
.mr-40{margin-right: 40px;}


.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-25{margin-bottom: 25px;}
.mb-30{margin-bottom: 30px;}
.mb-35{margin-bottom: 35px;}
.mb-40{margin-bottom: 40px;}

.margin-5{margin: 5px;}
.margin-10{margin: 10px;}
.margin-15{margin: 15px;}
.margin-20{margin: 20px;}
.margin-25{margin: 25px;}
.margin-30{margin: 30px;}

.-ml-10{margin-left: -10px;}
.-ml-15{margin-left: -15px;}
.-mr-15{margin-right: -15px;}


/* div fixed height*/

.height-20{height: 20px;}
.height-45{height: 45px;}
.height-75{height: 75px;}
.height-300{height: 300px;}
.height-350{height: 350px;}
.height-400{height: 400px;}
.height-500{height: 500px;}
.height-600{height: 600px;}
.height-700{height: 700px;}

/*width*/
.width-responsive-10{width: 10%;}
.width-responsive-20{width: 20%;}
.width-responsive-30{width: 30%;}
.width-responsive-40{width: 40%;}
.width-responsive-50{width: 50%;}
.width-responsive-60{width: 60%;}
.width-responsive-70{width: 70%;}
.width-responsive-80{width: 80%;}
.width-responsive-90{width: 90%;}
.width-responsive-100{width: 100%;}




/* line height */

.line-height-30{
    line-height: 30px;
}

/*border radius */

.circle{border-radius: 50%;}

/*float*/
.flot-lf{float: left;}
.float-rt{float: right;}

.direction-ltr{direction: ltr;}
.direction-rtl{direction: rtl;}
/* box shadow */

.container-box-shadow{
    box-shadow: 0 0 14px 1px #9a9a9a;
}




 

/*----------------------------------*/
.body-control{
    /* background-image: url(./assets/images/bg1.jpg);
    background-repeat: repeat; */
    background-color: #eeeeee;
}




/* .profile-pic img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
} */

/* left panel heading desing */



.left-side-heading-design,
.right-side-heading-design{
    padding: 5px 25px;
    background: #1e1e1e;
    position: relative;
    font-size: 20px;
}

.right-side-heading-design{
    background: #f5f5f5;
}


.left-side-heading-design::before,
.left-side-heading-design::after,
.right-side-heading-design::before,
.right-side-heading-design::after{
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    /* left: 0; */
    top: 0;
    background: #8bc34a;
}
.left-side-heading-design::before,
.right-side-heading-design::before{
    left: 0;
}

.left-side-heading-design::after,
.right-side-heading-design::after{
    right: 0;
}


/* // edit button */
.edit-btn{
    background: #8bc34a;
    padding: 0 10px;
    color: #000;
    font-size: 13px;
    height: 20px;
    line-height: 14px;
    font-family: 'Fjalla One', sans-serif;    
}

.section-header {
    font-size: 20px;
}



